<h1>Payment Calculator</h1>
<form action="/payment/results">
  <label for="apr">APR</label>
  <input id="apr" type="text" name="apr">
  <label for="years">Number of years:</label>
  <input id="years" type="text" name="years">
  <label for="principal">Principal</label>
  <input id="principal" type="text" name="principal">
  <button>Calculate monthly payment</button>
</form>
