<h1>Square Root Calculator</h1>
<form action="/square_root/results">
  <label for="number">Enter a number:</label>
  <input id="number" type="text" name="number">
  <button>Calculate Square Root</button>
</form>
