<h1>Random Number Generator Result</h1>
<p>Your random number between <%= @min %> and <%= @max %> is <%= @random_number %>.</p>
<a href="/random/new">Generate another random number</a>
<a href="/">Go back home</a>
